@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #155cd7;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(18, 102, 218, 0.4) 50%,
											  transparent,
											  transparent)
}
